:root {
  --br-yellow: #ffd300;
  --br-tangerine: #ff9200;
  --br-cloudy-blue: #cad7dd;
  --br-blue-green: #49c8a8;
  --br-pale-grey: #f5f8f9;
  --br-charcoal-grey: #373d40;
  --br-color-text: #434343;
}

/* semantic color variables for this project */
:root {
  --color-text: var(--br-color-text);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}